<input
        type="file"
        id="fileElem"
        accept="text/csv"
        class="visually-hidden"
        (change)="onUpload($event)" />
<label for="fileElem">Upload a file</label>
<span style="margin: 1em;">{{fileName}}</span>

<app-dropfile (drop)="onDrop($event)"></app-dropfile>

<div *ngIf="columns" class="gcp-table">
  <label for="search-box">GCD Search by name: </label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <button class="small-button" (click)="search(searchBox.value)">Go</button>
  <div class="gcp-row">
    <button disabled="disabled"></button>
    <button (click)="onSort($event, searchBox.value)" *ngFor="let col of columns" value="{{col}}">{{col}}</button>
  </div>
  <div class="gcp-row" *ngFor="let gcp of list$ | async">
    <div class="actions">
      <button class="small-button icon-button" (click)="remove(gcp)"><i class="fa fa-trash"></i></button>
      <!--<button class="small-button icon-button" ><i class="fa fa-edit"></i></button>-->
    </div>
    <span *ngFor="let col of columns">{{gcp[col]}}</span>
  </div>
</div>

