<input
        type="file"
        id="fileElem"
        accept="text/csv"
        class="visually-hidden"
        (change)="onUpload($event)" />
<label for="fileElem">Upload a file</label>
<span style="margin: 1em;">{{fileName}}</span>

<app-dropfile (drop)="onDrop($event)"></app-dropfile>

<div *ngIf="columns" class="gcd-list-container">
  <label for="search-box">GCD Search by name: </label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <button class="go-button" (click)="search(searchBox.value)" >Go</button>
  <div class="gcd-list"><button (click)="onSort($event, searchBox.value)" *ngFor="let col of columns" value="{{col}}">{{col}}</button></div>
  <div class="gcd-list" *ngFor="let gcd of list$ | async">
    <span *ngFor="let col of columns">{{gcd[col]}} </span>
  </div>
</div>

