input.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus-within + label {
    outline: thin dotted;
  }

  &+ label {
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.gcp-table {
  margin: 1em 1em 1em auto;


  .gcp-row {
    display: flex;
    margin: 5px 0;

    * {
      flex: 1;
      margin-right: 1em;
      padding: 0 1em;
    }

    .actions{
      display: flex;
    }

    i.fa.fa-edit, i.fa.fa-trash {
      margin: 0 !important;
    }
  }

  button.small-button {
    margin: 0 0 0 1em;
    padding: 1em;

    &.icon-button {
      padding: 0;
    }
  }

  .gcp-col {
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

}
